.JobstopCont {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: aliceblue;
  height: 100%;
}
.leftbox {
  width: 30%;
}
.topBGBox {
}
.rightbox {
  width: 70%;
}
.profileBG {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  color: black;
  width: 250px;
  height: 250px;
}
.JobstopCont {
  padding: 25px;
}
